<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING/DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd" >
<beans>
    <bean id="dao" class="dao.IB_CreditDao">

    </bean>
    <bean id="metier" class="Metier.IB_CreditMetier">
        <property name="CreditDao" ref="dao"></property>
    </bean>
    <bean id="controleur" class="presentation.IB_CreditControleur">
        <property name="creditMetier" ref="metier"></property>
    </bean>
</beans>